INFLUX_USERNAME=admin
INFLUX_PASSWORD=adminadmin
INFLUX_HOST_PORT=18086
INFLUX_ORG=uminho_mei
INFLUX_BUCKET=Iot
INFLUX_TOKEN=adminadmin

API_KEY_EDGE=iot
BACKEND_HOST_PORT=8000
DASHBOARD_HOST_PORT=8080

MQTT_USERNAME=iot
MQTT_PASSWORD=iot
MQTT_HOST_PORT=8883
MQTT_TLS_ENABLED=true
MQTT_TLS_CA_CERT=mosquitto-ca.crt

THRESHOLD_FALL_ACCEL=20.0
THRESHOLD_HARD_BRAKE=-6.0
THRESHOLD_JAM_SPEED=2.0
THRESHOLD_OBSTACLE_FRONT_M=0.45
THRESHOLD_OBSTACLE_SPEED=6.0
ALERT_COOLDOWN_SEC=15
